body {
  margin: 0px;
  padding: 0px;
  background-color: #021320;
  color: white;

  background: -moz-linear-gradient(top, #021320, #03244b, #021320);
  background: -webkit-linear-gradient(top, #021320, #03244b, #021320);
}

a {
  color: white;
}

#world-map {
  margin: 0px auto 0px auto;
}

#log {
  margin: 1% auto 0px auto;
  overflow: auto;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  font-family: "Andale Mono", "Courier", monospace, Fixed;
  font-size: 75%;
}

#logo1 {
  position: absolute;
  left: 1%;
  bottom: 1%;
  max-width: 20%;
}

#logo1 img, #logo2 img {
  width: 100%;
}

#logo2 {
  position: absolute;
  right: 1%;
  bottom: 1%;
  max-width: 20%;
}



/*************************** ANIMATION STUFF ************************************/

.marker_animation {
  position: absolute;

  /* 40px radius, move origin to center */
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;

  opacity: 0;

  animation: marker_popup 1s;
  -webkit-animation: marker_popup 1s;
  -moz-animation: marker_popup 1s;

  transform: scale3d(0, 0, 0);
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);

  border-radius: 100px;
  -moz-border-radius: 100px;

}

.markerdst {
  background-color: yellow;
}

.markersrc {
  background-color: red;
}

@-webkit-keyframes marker_popup {

  0% {
    opacity: 1;
    display: block;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0);
    -webkit-box-shadow: rgba(0, 0, 0, 0) 10px 10px 0;
    display: none;
  }

}

@-moz-keyframes marker_popup {

  0% {
    opacity: 1;
    display: block;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -moz-transform: scale3d(1, 1, 0);
    -moz-box-shadow: rgba(0, 0, 0, 0) 10px 10px 0;
    display: none;
  }

}
